:root {
  .theme-light {
    --DatePicker-Calender-Selected: var(--Gray-Color-0);
    --DatePicker-Calender-DateOut: var(--Gray-Color-4);
  }
  .theme-dark {
    --DatePicker-Calender-Selected: var(--Gray-Color-100);
    --DatePicker-Calender-DateOut: var(--Gray-Color-3);
  }
}

.ui-datepicker {
  position: relative;
  .ui-textfield-input {
    position: relative;
  }

  button {
    position: absolute;
    top: 50%;
    right: #{toRem(8)};
    transform: translateY(-50%);
  }

  &-calendar {
    .rdtPrev,
    .rdtNext,
    .rdtSwitch,
    .rdtMonth,
    .rdtYear {
      cursor: pointer;
    }

    .rdtOld,
    .rdtNew {
      color: var(--DatePicker-Calender-DateOut);
    }

    .rdtToday {
      border: 1px solid var(--Primary-Color-6);
    }

    .rdtActive {
      color: var(--DatePicker-Calender-Selected);
      background-color: var(--Primary-Color-6);
      border-color: var(--Primary-Color-6);
    }

    table {
      width: 100%;
      max-width: toRem(360);
    }
    thead,
    tbody {
      display: flex;
      flex-wrap: wrap;
    }
    tr {
      display: flex;
      width: 100%;
    }
    th,
    td {
      width: 100%;
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: toRem(4);
    }
    thead {
      tr:nth-child(1) {
        height: toRem(64);
      }
      tr:nth-child(2) {
        height: toRem(40);
        th {
          font: var(--Body-Font-1);
        }
      }
    }
    tbody {
      .rdtDay {
        padding: 0;
        text-align: center;
        border-radius: 100px;
        border: toRem(1) solid transparent;
        cursor: pointer;
      }
    }
  }
}
