:root {
  .theme-light {
    --TextArea-Background-Color: var(--Gray-Color-0);
    --TextArea-Font-Color: var(--Gray-Color-8);
    --TextArea-Placeholder-Color: var(--Gray-Color-5);
    --TextArea-Shadow-Color: var(--Primary-Color-1);

    --TextArea-ReadOnly-Background-Color: var(--Gray-Color-1);
    --TextArea-ReadOnly-Color: var(--Gray-Color-8);

    --TextArea-Disabled-Background-Color: var(--Gray-Color-2);
    --TextArea-Disabled-Font-Color: var(--Gray-Color-6);
    --TextArea-Disabled-Placeholder-Color: var(--Gray-Color-5);
  }
  .theme-dark {
    --TextArea-Background-Color: var(--Gray-Color-1);
    --TextArea-Font-Color: var(--Gray-Color-10);
    --TextArea-Placeholder-Color: var(--Gray-Color-5);
    --TextArea-Shadow-Color: var(--Primary-Color-3);

    --TextArea-ReadOnly-Background-Color: var(--Gray-Color-1);
    --TextArea-ReadOnly-Color: var(--Gray-Color-5);

    --TextArea-Disabled-Background-Color: var(--Gray-Color-2);
    --TextArea-Disabled-Font-Color: var(--Gray-Color-6);
    --TextArea-Disabled-Placeholder-Color: var(--Gray-Color-5);
  }
}

$textarea-border-radius: (
  sm: $border-radius-sm,
  md: $border-radius-md,
);

$textarea-padding-tb: (
  sm: toRem(6),
  md: toRem(12),
);

$textarea-padding-lr: (
  sm: toRem(8),
  md: toRem(16),
);

$textarea-font: (
  sm: var(--Detail-Font-1),
  md: var(--Body-Font-1),
);

@mixin textAreaOfSize($size) {
  border-radius: #{map-get($textarea-border-radius, $size)};
  textarea {
    padding: #{map-get($textarea-padding-tb, $size)} #{map-get($textarea-padding-lr, $size)};
    width: calc(100% - 2 * #{map-get($textarea-padding-lr, $size)});
    border-radius: #{map-get($textarea-border-radius, $size)};
    font: #{map-get($textarea-font, $size)};
  }
}

.ui-textarea {
  display: flex;
  flex-direction: column;
  gap: toRem(4);

  // Label 및 TextMessage
  &-label {
    margin: 0 toRem(4);
    font: var(--Micro-Font-1);
  }

  &-info {
    margin: 0 toRem(4);
    display: flex;
    justify-content: flex-end;
    font: var(--Micro-Font-1);

    .value-length {
      color: var(--Primary-Color-5);
      &.max {
        color: var(--Danger-Color-5);
      }
    }
  }

  &-msg {
    width: 90%;
    margin: 0 auto 0 0;
    &.error {
      color: var(--Danger-Color-5);
    }
  }

  // Input
  &-input {
    display: flex;
    border: toRem(1) solid var(--Gray-Color-4);

    &.is-error {
      border-color: var(--Danger-Color-5);
    }

    &.read-only textarea {
      color: var(--TextArea-ReadOnly-Color);
      background-color: var(--TextArea-ReadOnly-Background-Color);
    }

    &.is-disabled textarea {
      background-color: var(--TextArea-Disabled-Background-Color);
      color: var(--TextArea-Disabled-Font-Color);
      &::placeholder {
        color: var(--TextArea-Disabled-Placeholder-Color);
      }
    }

    &:has(textarea:focus) {
      border: toRem(1) solid var(--Primary-Color-5);
      box-shadow: 0 0 5px var(--TextArea-Shadow-Color);
    }

    textarea {
      margin: 0;
      border: 0;
      height: 100%;
      color: var(--TextArea-Font-Color);
      background-color: var(--TextArea-Background-Color);
      resize: none;
      &::placeholder {
        color: var(--TextArea-Placeholder-Color);
      }
      &:focus {
        outline: 0;
      }
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px white inset;
        box-shadow: 0 0 0 1000px white inset;
      }
    }

    &.small {
      @include textAreaOfSize('sm');
    }
    &.medium {
      @include textAreaOfSize('md');
    }
  }
}
