$danger-0: #feecf0;
$danger-1: #fcd4de;
$danger-2: #f799b0;
$danger-3: #f36689;
$danger-4: #ef3d5e;
$danger-5: #eb003b;
$danger-6: #d50136;
$danger-7: #8d0023;
$danger-8: #5e0017;
$danger-9: #2f000b;
$warning-0: #fff8e9;
$warning-1: #ffeac1;
$warning-2: #ffe2a7;
$warning-3: #ffd47c;
$warning-4: #ffc54f;
$warning-5: #ffb624;
$warning-6: #98690a;
$warning-7: #66490e;
$warning-8: #4c360a;
$warning-9: #332507;
$success-0: #eef7f0;
$success-1: #cee9d4;
$success-2: #b2dcbb;
$success-3: #8bca99;
$success-4: #33a14b;
$success-5: #008a1e;
$success-6: #006e18;
$success-7: #005312;
$success-8: #00370c;
$success-9: #002207;
$information-0: #e9f0ff;
$information-1: #d3e0ff;
$information-2: #a8c2ff;
$information-3: #7da4ff;
$information-4: #5286ff;
$information-5: #2767ff;
$information-6: #1f53cc;
$information-7: #173e99;
$information-8: #0c1f4d;
$information-9: #040a1a;
$gray-0: #ffffff;
$gray-1: #f7f7f7;
$gray-2: #f0f0f0;
$gray-3: #e4e4e4;
$gray-4: #d8d8d8;
$gray-5: #c6c6c6;
$gray-6: #8e8e8e;
$gray-7: #717171;
$gray-8: #555555;
$gray-9: #2c2c2c;
$gray-10: #1d1d1d;
$gray-100: #000000;
