:root {
  --primary-color: 222, 100%;
}
:root .theme-light {
  --Danger-Color-1: #feecf0;
  --Danger-Color-2: #fcd4de;
  --Danger-Color-3: #f799b0;
  --Danger-Color-4: #f36689;
  --Danger-Color-5: #ef3d5e;
  --Danger-Color-6: #eb003b;
  --Danger-Color-7: #d50136;
  --Danger-Color-8: #8d0023;
  --Danger-Color-9: #5e0017;
  --Danger-Color-10: #2f000b;
  --Warning-Color-1: #fff8e9;
  --Warning-Color-2: #ffeac1;
  --Warning-Color-3: #ffe2a7;
  --Warning-Color-4: #ffd47c;
  --Warning-Color-5: #ffc54f;
  --Warning-Color-6: #ffb624;
  --Warning-Color-7: #98690a;
  --Warning-Color-8: #66490e;
  --Warning-Color-9: #4c360a;
  --Warning-Color-10: #332507;
  --Success-Color-1: #eef7f0;
  --Success-Color-2: #cee9d4;
  --Success-Color-3: #b2dcbb;
  --Success-Color-4: #8bca99;
  --Success-Color-5: #33a14b;
  --Success-Color-6: #008a1e;
  --Success-Color-7: #006e18;
  --Success-Color-8: #005312;
  --Success-Color-9: #00370c;
  --Success-Color-10: #002207;
  --Information-Color-1: #e9f0ff;
  --Information-Color-2: #d3e0ff;
  --Information-Color-3: #a8c2ff;
  --Information-Color-4: #7da4ff;
  --Information-Color-5: #5286ff;
  --Information-Color-6: #2767ff;
  --Information-Color-7: #1f53cc;
  --Information-Color-8: #173e99;
  --Information-Color-9: #0c1f4d;
  --Information-Color-10: #040a1a;
  --Gray-Color-0: #ffffff;
  --Gray-Color-1: #f7f7f7;
  --Gray-Color-2: #f0f0f0;
  --Gray-Color-3: #e4e4e4;
  --Gray-Color-4: #d8d8d8;
  --Gray-Color-5: #c6c6c6;
  --Gray-Color-6: #8e8e8e;
  --Gray-Color-7: #717171;
  --Gray-Color-8: #555555;
  --Gray-Color-9: #2c2c2c;
  --Gray-Color-10: #1d1d1d;
  --Gray-Color-100: #000000;
  --Primary-Color-1: hsl(var(--primary-color), 95%);
  --Primary-Color-2: hsl(var(--primary-color), 90%);
  --Primary-Color-3: hsl(var(--primary-color), 80%);
  --Primary-Color-4: hsl(var(--primary-color), 70%);
  --Primary-Color-5: hsl(var(--primary-color), 60%);
  --Primary-Color-6: hsl(var(--primary-color), 50%);
  --Primary-Color-7: hsl(var(--primary-color), 40%);
  --Primary-Color-8: hsl(var(--primary-color), 30%);
  --Primary-Color-9: hsl(var(--primary-color), 20%);
  --Primary-Color-10: hsl(var(--primary-color), 10%);
  background-color: var(--Gray-Color-0);
  color: var(--Gray-Color-8);
}
:root .theme-dark {
  --Danger-Color-1: #2f000b;
  --Danger-Color-2: #5e0017;
  --Danger-Color-3: #8d0023;
  --Danger-Color-4: #d50136;
  --Danger-Color-5: #eb003b;
  --Danger-Color-6: #ef3d5e;
  --Danger-Color-7: #f36689;
  --Danger-Color-8: #f799b0;
  --Danger-Color-9: #fcd4de;
  --Danger-Color-10: #feecf0;
  --Warning-Color-1: #332507;
  --Warning-Color-2: #4c360a;
  --Warning-Color-3: #66490e;
  --Warning-Color-4: #98690a;
  --Warning-Color-5: #ffb624;
  --Warning-Color-6: #ffc54f;
  --Warning-Color-7: #ffd47c;
  --Warning-Color-8: #ffe2a7;
  --Warning-Color-9: #ffeac1;
  --Warning-Color-10: #fff8e9;
  --Success-Color-1: #002207;
  --Success-Color-2: #00370c;
  --Success-Color-3: #005312;
  --Success-Color-4: #006e18;
  --Success-Color-5: #008a1e;
  --Success-Color-6: #33a14b;
  --Success-Color-7: #8bca99;
  --Success-Color-8: #b2dcbb;
  --Success-Color-9: #cee9d4;
  --Success-Color-10: #eef7f0;
  --Information-Color-1: #040a1a;
  --Information-Color-2: #0c1f4d;
  --Information-Color-3: #173e99;
  --Information-Color-4: #1f53cc;
  --Information-Color-5: #2767ff;
  --Information-Color-6: #5286ff;
  --Information-Color-7: #7da4ff;
  --Information-Color-8: #a8c2ff;
  --Information-Color-9: #d3e0ff;
  --Information-Color-10: #e9f0ff;
  --Gray-Color-0: #000000;
  --Gray-Color-1: #1d1d1d;
  --Gray-Color-2: #2c2c2c;
  --Gray-Color-3: #555555;
  --Gray-Color-4: #717171;
  --Gray-Color-5: #8e8e8e;
  --Gray-Color-6: #c6c6c6;
  --Gray-Color-7: #d8d8d8;
  --Gray-Color-8: #e4e4e4;
  --Gray-Color-9: #f0f0f0;
  --Gray-Color-10: #f7f7f7;
  --Gray-Color-100: #ffffff;
  --Primary-Color-1: hsl(var(--primary-color), 10%);
  --Primary-Color-2: hsl(var(--primary-color), 20%);
  --Primary-Color-3: hsl(var(--primary-color), 30%);
  --Primary-Color-4: hsl(var(--primary-color), 40%);
  --Primary-Color-5: hsl(var(--primary-color), 50%);
  --Primary-Color-6: hsl(var(--primary-color), 60%);
  --Primary-Color-7: hsl(var(--primary-color), 70%);
  --Primary-Color-8: hsl(var(--primary-color), 80%);
  --Primary-Color-9: hsl(var(--primary-color), 90%);
  --Primary-Color-10: hsl(var(--primary-color), 95%);
  background-color: var(--Gray-Color-1);
  color: var(--Gray-Color-8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--Gray-Color-10);
}

:root {
  --Display-Font-1: 700 3.5rem/4.5rem Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  --Display-Font-2: 700 2.5rem/3.25rem Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  --Title-Font-1: 700 2.25rem/3rem Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  --Title-Font-2: 700 1.75rem/2.375rem Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  --Title-Font-3: 700 1.5rem/2rem Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  --Heading-Font-1: 700 1.375rem/1.875rem Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  --Heading-Font-2: 700 1.25rem/1.75rem Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  --Heading-Font-3: 700 1.125rem/1.625rem Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  --Body-Font-1: 400 1rem/1.5rem Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  --Body-Font-2: 500 1rem/1.5rem Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  --Body-Font-3: 700 1rem/1.5rem Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  --Detail-Font-1: 400 0.875rem/1.25rem Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  --Detail-Font-2: 700 0.875rem/1.25rem Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  --Micro-Font-1: 400 0.75rem/1rem Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  --Micro-Font-2: 700 0.75rem/1rem Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
}

body {
  font: var(--Body-Font-1);
}

h1 {
  font: var(--Title-Font-1);
}

h2 {
  font: var(--Title-Font-2);
}

h3 {
  font: var(--Title-Font-3);
}

h4 {
  font: var(--Heading-Font-1);
}

h5 {
  font: var(--Heading-Font-2);
}

h6 {
  font: var(--Heading-Font-3);
}

.storybook-example {
  padding: 16px;
  background-color: var(--Gray-Color-2);
  border-radius: 8px;
}
.storybook pre {
  background-color: var(--Gray-Color-2);
  border-radius: 8px;
  font-family: "Courier New", Courier, monospace;
}
.storybook span {
  padding: 2px 4px;
  background-color: var(--Gray-Color-2);
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}
.storybook table {
  border-collapse: collapse;
  width: 100%;
}
.storybook tr {
  border-bottom: 1px solid var(--Gray-Color-4);
}
.storybook tr:last-child {
  border: 0;
}
.storybook th {
  font: var(--Detail-Font-2);
  padding: 8px;
  color: var(--Gray-Color-7);
  text-align: left;
}
.storybook th:is(:first-child, :last-child) {
  width: 25%;
}
.storybook td:first-child {
  padding: 8px 0 8px 16px;
}
.storybook td:last-child {
  padding: 8px 16px 8px 0;
}
.storybook tbody {
  border: 1px solid var(--Gray-Color-4);
  border-radius: 8px;
  vertical-align: top;
}
.storybook-icon {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  list-style-type: none;
  font: var(--Micro-Font-1);
  word-break: break-all;
  gap: 8px;
}

.core-color .storybook-example {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.core-color-item:nth-child(1).primary {
  background-color: var(--Primary-Color-1);
}
.core-color-item:nth-child(1).danger {
  background-color: var(--Danger-Color-1);
}
.core-color-item:nth-child(1).warning {
  background-color: var(--Warning-Color-1);
}
.core-color-item:nth-child(1).success {
  background-color: var(--Success-Color-1);
}
.core-color-item:nth-child(1).information {
  background-color: var(--Information-Color-1);
}
.core-color-item:nth-child(1).neutral {
  background-color: var(--Gray-Color-0);
}
.core-color-item:nth-child(2).primary {
  background-color: var(--Primary-Color-2);
}
.core-color-item:nth-child(2).danger {
  background-color: var(--Danger-Color-2);
}
.core-color-item:nth-child(2).warning {
  background-color: var(--Warning-Color-2);
}
.core-color-item:nth-child(2).success {
  background-color: var(--Success-Color-2);
}
.core-color-item:nth-child(2).information {
  background-color: var(--Information-Color-2);
}
.core-color-item:nth-child(2).neutral {
  background-color: var(--Gray-Color-1);
}
.core-color-item:nth-child(3).primary {
  background-color: var(--Primary-Color-3);
}
.core-color-item:nth-child(3).danger {
  background-color: var(--Danger-Color-3);
}
.core-color-item:nth-child(3).warning {
  background-color: var(--Warning-Color-3);
}
.core-color-item:nth-child(3).success {
  background-color: var(--Success-Color-3);
}
.core-color-item:nth-child(3).information {
  background-color: var(--Information-Color-3);
}
.core-color-item:nth-child(3).neutral {
  background-color: var(--Gray-Color-2);
}
.core-color-item:nth-child(4).primary {
  background-color: var(--Primary-Color-4);
}
.core-color-item:nth-child(4).danger {
  background-color: var(--Danger-Color-4);
}
.core-color-item:nth-child(4).warning {
  background-color: var(--Warning-Color-4);
}
.core-color-item:nth-child(4).success {
  background-color: var(--Success-Color-4);
}
.core-color-item:nth-child(4).information {
  background-color: var(--Information-Color-4);
}
.core-color-item:nth-child(4).neutral {
  background-color: var(--Gray-Color-3);
}
.core-color-item:nth-child(5).primary {
  background-color: var(--Primary-Color-5);
}
.core-color-item:nth-child(5).danger {
  background-color: var(--Danger-Color-5);
}
.core-color-item:nth-child(5).warning {
  background-color: var(--Warning-Color-5);
}
.core-color-item:nth-child(5).success {
  background-color: var(--Success-Color-5);
}
.core-color-item:nth-child(5).information {
  background-color: var(--Information-Color-5);
}
.core-color-item:nth-child(5).neutral {
  background-color: var(--Gray-Color-4);
}
.core-color-item:nth-child(6).primary {
  background-color: var(--Primary-Color-6);
}
.core-color-item:nth-child(6).danger {
  background-color: var(--Danger-Color-6);
}
.core-color-item:nth-child(6).warning {
  background-color: var(--Warning-Color-6);
}
.core-color-item:nth-child(6).success {
  background-color: var(--Success-Color-6);
}
.core-color-item:nth-child(6).information {
  background-color: var(--Information-Color-6);
}
.core-color-item:nth-child(6).neutral {
  background-color: var(--Gray-Color-5);
}
.core-color-item:nth-child(7).primary {
  background-color: var(--Primary-Color-7);
}
.core-color-item:nth-child(7).danger {
  background-color: var(--Danger-Color-7);
}
.core-color-item:nth-child(7).warning {
  background-color: var(--Warning-Color-7);
}
.core-color-item:nth-child(7).success {
  background-color: var(--Success-Color-7);
}
.core-color-item:nth-child(7).information {
  background-color: var(--Information-Color-7);
}
.core-color-item:nth-child(7).neutral {
  background-color: var(--Gray-Color-6);
}
.core-color-item:nth-child(8).primary {
  background-color: var(--Primary-Color-8);
}
.core-color-item:nth-child(8).danger {
  background-color: var(--Danger-Color-8);
}
.core-color-item:nth-child(8).warning {
  background-color: var(--Warning-Color-8);
}
.core-color-item:nth-child(8).success {
  background-color: var(--Success-Color-8);
}
.core-color-item:nth-child(8).information {
  background-color: var(--Information-Color-8);
}
.core-color-item:nth-child(8).neutral {
  background-color: var(--Gray-Color-7);
}
.core-color-item:nth-child(9).primary {
  background-color: var(--Primary-Color-9);
}
.core-color-item:nth-child(9).danger {
  background-color: var(--Danger-Color-9);
}
.core-color-item:nth-child(9).warning {
  background-color: var(--Warning-Color-9);
}
.core-color-item:nth-child(9).success {
  background-color: var(--Success-Color-9);
}
.core-color-item:nth-child(9).information {
  background-color: var(--Information-Color-9);
}
.core-color-item:nth-child(9).neutral {
  background-color: var(--Gray-Color-8);
}
.core-color-item:nth-child(10).primary {
  background-color: var(--Primary-Color-10);
}
.core-color-item:nth-child(10).danger {
  background-color: var(--Danger-Color-10);
}
.core-color-item:nth-child(10).warning {
  background-color: var(--Warning-Color-10);
}
.core-color-item:nth-child(10).success {
  background-color: var(--Success-Color-10);
}
.core-color-item:nth-child(10).information {
  background-color: var(--Information-Color-10);
}
.core-color-item:nth-child(10).neutral {
  background-color: var(--Gray-Color-9);
}
.core-color-item:nth-child(11).neutral {
  background-color: var(--Gray-Color-10);
}
.core-color-item:nth-child(12).neutral {
  background-color: var(--Gray-Color-10);
}
.core-color-item:nth-child(n+6) {
  color: #fff;
}

.core-font .storybook-example > * {
  margin: 0;
}
.core-font-display-1 {
  font: var(--Display-Font-1);
}
.core-font-display-2 {
  font: var(--Display-Font-2);
}
.core-font-body-2 {
  font: var(--Body-Font-2);
}
.core-font-detail-1 {
  font: var(--Detail-Font-1);
}
.core-font-detail-2 {
  font: var(--Detail-Font-2);
}
.core-font-micro-1 {
  font: var(--Micro-Font-1);
}
.core-font-micro-2 {
  font: var(--Micro-Font-2);
}

:root .theme-light {
  --Popover-Backgound: var(--Gray-Color-0);
}
:root .theme-dark {
  --Popover-Backgound: var(--Gray-Color-1);
}

.ui-popover {
  background-color: var(--Popover-Backgound);
  border-radius: 0.5rem;
  border: 1px solid var(--Gray-Color-4);
  z-index: 10;
}

:root .theme-light {
  --Button-Text-Color: var(--Gray-Color-0);
  --Button-Shadow-Color: var(--Primary-Color-3);
  --Button-Outlined-Hover-Background-Color: var(--Gray-Color-1);
  --Button-Outlined-Active-Background-Color: var(--Gray-Color-2);
}
:root .theme-dark {
  --Button-Text-Color: var(--Gray-Color-100);
  --Button-Shadow-Color: var(--Primary-Color-6);
  --Button-Outlined-Hover-Background-Color: var(--Gray-Color-2);
  --Button-Outlined-Active-Background-Color: var(--Gray-Color-3);
}

.ui-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-color: transparent;
  outline: 0;
  cursor: pointer;
}
.ui-button:focus {
  box-shadow: 0 0 0.3125rem var(--Button-Shadow-Color);
}
.ui-button:disabled {
  cursor: default;
}
.ui-button-icon.start {
  margin-right: 0.25rem;
}
.ui-button-icon.end {
  margin-left: 0.25rem;
}
.ui-button.small {
  min-height: 2rem;
  padding: 0 0.75rem;
  border-radius: 4px;
  font: var(--Detail-Font-2);
}
.ui-button.medium {
  min-height: 2.5rem;
  padding: 0 0.75rem;
  border-radius: 8px;
  font: var(--Body-Font-3);
}
.ui-button.large {
  min-height: 3rem;
  padding: 0 1rem;
  border-radius: 10px;
  font: var(--Heading-Font-3);
}
.ui-button.filled.primary {
  color: var(--Button-Text-Color);
  background-color: var(--Primary-Color-6);
}
.ui-button.filled.primary:focus {
  box-shadow: 0 0 0.3125rem var(--Button-Shadow-Color);
}
.ui-button.filled.primary:hover {
  background-color: var(--Primary-Color-7);
}
.ui-button.filled.primary:active {
  background-color: var(--Primary-Color-8);
}
.ui-button.filled.primary .ui-button-icon path {
  fill: var(--Button-Text-Color);
}
.ui-button.filled.primary:disabled {
  color: var(--Gray-Color-5);
  background-color: var(--Gray-Color-2);
}
.ui-button.filled.primary:disabled .ui-button-icon path {
  fill: var(--Gray-Color-5);
}
.ui-button.outlined {
  background-color: transparent;
}
.ui-button.outlined.primary {
  color: var(--Primary-Color-6);
  border: 0.0625rem solid var(--Primary-Color-6);
}
.ui-button.outlined.primary:hover {
  background-color: var(--Primary-Color-1);
}
.ui-button.outlined.primary:active {
  background-color: var(--Primary-Color-2);
}
.ui-button.outlined.primary .ui-button-icon path {
  fill: var(--Primary-Color-6);
}
.ui-button.outlined.secondary {
  color: var(--Primary-Color-6);
  border: 0.0625rem solid var(--Gray-Color-4);
}
.ui-button.outlined.secondary:hover {
  background-color: var(--Button-Outlined-Hover-Background-Color);
}
.ui-button.outlined.secondary:active {
  background-color: var(--Button-Outlined-Active-Background-Color);
}
.ui-button.outlined.secondary .ui-button-icon path {
  fill: --Primary-Color-6;
}
.ui-button.outlined.tertiary {
  color: var(--Gray-Color-8);
  border: 0.0625rem solid var(--Gray-Color-4);
}
.ui-button.outlined.tertiary:hover {
  background-color: var(--Button-Outlined-Hover-Background-Color);
}
.ui-button.outlined.tertiary:active {
  background-color: var(--Button-Outlined-Active-Background-Color);
}
.ui-button.outlined.tertiary .ui-button-icon path {
  fill: var(--Gray-Color-8);
}
.ui-button.outlined:disabled, .ui-button.outlined:is(:hover, :focus, :active):disabled {
  color: var(--Gray-Color-4);
  background-color: transparent;
  border-color: var(--Gray-Color-4);
}
.ui-button.outlined:disabled .ui-button-icon path, .ui-button.outlined:is(:hover, :focus, :active):disabled .ui-button-icon path {
  fill: var(--Gray-Color-4);
}
.ui-button.ghost {
  background-color: transparent;
}
.ui-button.ghost.primary {
  color: var(--Primary-Color-6);
}
.ui-button.ghost.primary:hover {
  background-color: var(--Primary-Color-1);
}
.ui-button.ghost.primary:active {
  background-color: var(--Primary-Color-2);
}
.ui-button.ghost.primary .ui-button-icon path {
  fill: var(--Primary-Color-6);
}
.ui-button.ghost.secondary {
  color: var(--Gray-Color-8);
}
.ui-button.ghost.secondary:hover {
  background-color: var(--Button-Outlined-Hover-Background-Color);
}
.ui-button.ghost.secondary:active {
  background-color: var(--Button-Outlined-Active-Background-Color);
}
.ui-button.ghost.secondary .ui-button-icon path {
  fill: var(--Gray-Color-8);
}
.ui-button.ghost:disabled, .ui-button.ghost:is(:hover, :focus, :active):disabled {
  color: var(--Gray-Color-4);
  background-color: transparent;
}
.ui-button.ghost:disabled .ui-button-icon path, .ui-button.ghost:is(:hover, :focus, :active):disabled .ui-button-icon path {
  fill: var(--Gray-Color-4);
}
.ui-button.icon {
  border-radius: 100px;
  aspect-ratio: 1/1;
}
.ui-button.icon.small {
  padding: 0.25rem;
}
.ui-button.icon.medium {
  padding: 0.25rem;
}
.ui-button.icon.medium svg {
  width: 1.5rem;
  height: 1.5rem;
}
.ui-button.icon.large {
  padding: 0.5rem;
}
.ui-button.icon.large svg {
  width: 2rem;
  height: 2rem;
}
.ui-button.icon.normal {
  background-color: transparent;
  padding: 0;
}
.ui-button.icon.normal:hover {
  background-color: transparent;
}
.ui-button.icon.normal:active {
  background-color: transparent;
}
.ui-button.icon.normal path {
  fill: var(--Gray-Color-8);
}
.ui-button.icon.normal:focus, .ui-button.icon.normal:hover {
  box-shadow: none;
}
.ui-button.icon.normal:focus path, .ui-button.icon.normal:hover path {
  fill: var(--Primary-Color-7);
}
.ui-button.icon.normal:active path {
  fill: var(--Primary-Color-8);
}
.ui-button.icon.normal:disabled, .ui-button.icon.normal:is(:hover, :focus, :active):disabled {
  background-color: transparent;
}
.ui-button.icon.normal:disabled path, .ui-button.icon.normal:is(:hover, :focus, :active):disabled path {
  fill: var(--Gray-Color-5);
}
.ui-button.icon.primary {
  background-color: transparent;
}
.ui-button.icon.primary:hover {
  background-color: var(--Primary-Color-1);
}
.ui-button.icon.primary:active {
  background-color: var(--Primary-Color-2);
}
.ui-button.icon.primary path {
  fill: var(--Primary-Color-6);
}
.ui-button.icon.secondary {
  background-color: transparent;
}
.ui-button.icon.secondary:hover {
  background-color: var(--Button-Outlined-Hover-Background-Color);
}
.ui-button.icon.secondary:active {
  background-color: var(--Button-Outlined-Active-Background-Color);
}
.ui-button.icon.secondary path {
  fill: var(--Gray-Color-8);
}
.ui-button.icon:is(.primary, .secondary):disabled, .ui-button.icon:is(.primary, .secondary):is(:hover, :focus, :active):disabled {
  background-color: transparent;
}
.ui-button.icon:is(.primary, .secondary):disabled path, .ui-button.icon:is(.primary, .secondary):is(:hover, :focus, :active):disabled path {
  fill: var(--Gray-Color-4);
}
.ui-button.icon.filled {
  background-color: var(--Primary-Color-6);
}
.ui-button.icon.filled:hover {
  background-color: var(--Primary-Color-7);
}
.ui-button.icon.filled:active {
  background-color: var(--Primary-Color-8);
}
.ui-button.icon.filled path {
  fill: var(--Button-Text-Color);
}
.ui-button.icon.filled:focus {
  box-shadow: 0 0 0.3125rem var(--Button-Shadow-Color);
}
.ui-button.icon.filled:disabled, .ui-button.icon.filled:is(:hover, :focus, :active):disabled {
  background-color: var(--Gray-Color-2);
}
.ui-button.icon.filled:disabled path, .ui-button.icon.filled:is(:hover, :focus, :active):disabled path {
  fill: var(--Gray-Color-5);
}
.ui-button.icon.outlined {
  background-color: transparent;
  border: 0.0625rem solid var(--Primary-Color-6);
}
.ui-button.icon.outlined:hover {
  background-color: var(--Button-Outlined-Hover-Background-Color);
}
.ui-button.icon.outlined:active {
  background-color: var(--Button-Outlined-Active-Background-Color);
}
.ui-button.icon.outlined path {
  fill: var(--Primary-Color-6);
}
.ui-button.icon.outlined:disabled, .ui-button.icon.outlined:is(:hover, :focus, :active):disabled {
  background-color: transparent;
  border-color: var(--Gray-Color-4);
}
.ui-button.icon.outlined:disabled path, .ui-button.icon.outlined:is(:hover, :focus, :active):disabled path {
  fill: var(--Gray-Color-4);
}

:root .theme-light {
  --TextField-Background-Color: var(--Gray-Color-0);
  --TextField-Font-Color: var(--Gray-Color-8);
  --TextField-Placeholder-Color: var(--Gray-Color-5);
  --TextField-Shadow-Color: var(--Primary-Color-1);
  --TextField-ReadOnly-Background-Color: var(--Gray-Color-1);
  --TextField-ReadOnly-Color: var(--Gray-Color-8);
  --TextField-Disabled-Background-Color: var(--Gray-Color-2);
  --TextField-Disabled-Font-Color: var(--Gray-Color-6);
  --TextField-Disabled-Placeholder-Color: var(--Gray-Color-5);
}
:root .theme-dark {
  --TextField-Background-Color: var(--Gray-Color-1);
  --TextField-Font-Color: var(--Gray-Color-10);
  --TextField-Placeholder-Color: var(--Gray-Color-5);
  --TextField-Shadow-Color: var(--Primary-Color-3);
  --TextField-ReadOnly-Background-Color: var(--Gray-Color-1);
  --TextField-ReadOnly-Color: var(--Gray-Color-5);
  --TextField-Disabled-Background-Color: var(--Gray-Color-2);
  --TextField-Disabled-Font-Color: var(--Gray-Color-6);
  --TextField-Disabled-Placeholder-Color: var(--Gray-Color-5);
}

.ui-textfield {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.ui-textfield-label, .ui-textfield-msg {
  margin: 0 0 0 0.25rem;
  font: var(--Micro-Font-1);
}
.ui-textfield-msg {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.ui-textfield-msg path {
  fill: var(--Gray-Color-8);
}
.ui-textfield-msg.error {
  color: var(--Danger-Color-5);
}
.ui-textfield-msg.error path {
  fill: var(--Danger-Color-5);
}
.ui-textfield-input {
  border: 0.0625rem solid var(--Gray-Color-4);
}
.ui-textfield-input.is-error {
  border-color: var(--Danger-Color-5);
}
.ui-textfield-input.read-only input {
  color: var(--TextField-ReadOnly-Color);
  background-color: var(--TextField-ReadOnly-Background-Color);
}
.ui-textfield-input.is-disabled input {
  background-color: var(--TextField-Disabled-Background-Color);
  color: var(--TextField-Disabled-Font-Color);
}
.ui-textfield-input.is-disabled input::placeholder {
  color: var(--TextField-Disabled-Placeholder-Color);
}
.ui-textfield-input:has(input:focus) {
  border: 0.0625rem solid var(--Primary-Color-5);
  box-shadow: 0 0 0.3125rem var(--TextField-Shadow-Color);
}
.ui-textfield-input input {
  margin: 0;
  border: 0;
  height: 100%;
  color: var(--TextField-Font-Color);
  background-color: var(--TextField-Background-Color);
}
.ui-textfield-input input::placeholder {
  color: var(--TextField-Placeholder-Color);
}
.ui-textfield-input input:focus {
  outline: 0;
}
.ui-textfield-input input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  box-shadow: 0 0 0 1000px white inset;
}
.ui-textfield-input.small {
  height: 2rem;
  border-radius: 4px;
}
.ui-textfield-input.small input {
  padding: 0 0.5rem;
  width: calc(100% - 2 * 0.5rem);
  border-radius: 4px;
  font: var(--Detail-Font-1);
}
.ui-textfield-input.medium {
  height: 2.5rem;
  border-radius: 8px;
}
.ui-textfield-input.medium input {
  padding: 0 1rem;
  width: calc(100% - 2 * 1rem);
  border-radius: 8px;
  font: var(--Body-Font-1);
}
.ui-textfield-input.large {
  height: 3rem;
  border-radius: 10px;
}
.ui-textfield-input.large input {
  padding: 0 1rem;
  width: calc(100% - 2 * 1rem);
  border-radius: 10px;
  font: var(--Body-Font-1);
}

:root .theme-light {
  --TextArea-Background-Color: var(--Gray-Color-0);
  --TextArea-Font-Color: var(--Gray-Color-8);
  --TextArea-Placeholder-Color: var(--Gray-Color-5);
  --TextArea-Shadow-Color: var(--Primary-Color-1);
  --TextArea-ReadOnly-Background-Color: var(--Gray-Color-1);
  --TextArea-ReadOnly-Color: var(--Gray-Color-8);
  --TextArea-Disabled-Background-Color: var(--Gray-Color-2);
  --TextArea-Disabled-Font-Color: var(--Gray-Color-6);
  --TextArea-Disabled-Placeholder-Color: var(--Gray-Color-5);
}
:root .theme-dark {
  --TextArea-Background-Color: var(--Gray-Color-1);
  --TextArea-Font-Color: var(--Gray-Color-10);
  --TextArea-Placeholder-Color: var(--Gray-Color-5);
  --TextArea-Shadow-Color: var(--Primary-Color-3);
  --TextArea-ReadOnly-Background-Color: var(--Gray-Color-1);
  --TextArea-ReadOnly-Color: var(--Gray-Color-5);
  --TextArea-Disabled-Background-Color: var(--Gray-Color-2);
  --TextArea-Disabled-Font-Color: var(--Gray-Color-6);
  --TextArea-Disabled-Placeholder-Color: var(--Gray-Color-5);
}

.ui-textarea {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.ui-textarea-label {
  margin: 0 0.25rem;
  font: var(--Micro-Font-1);
}
.ui-textarea-info {
  margin: 0 0.25rem;
  display: flex;
  justify-content: flex-end;
  font: var(--Micro-Font-1);
}
.ui-textarea-info .value-length {
  color: var(--Primary-Color-5);
}
.ui-textarea-info .value-length.max {
  color: var(--Danger-Color-5);
}
.ui-textarea-msg {
  width: 90%;
  margin: 0 auto 0 0;
}
.ui-textarea-msg.error {
  color: var(--Danger-Color-5);
}
.ui-textarea-input {
  display: flex;
  border: 0.0625rem solid var(--Gray-Color-4);
}
.ui-textarea-input.is-error {
  border-color: var(--Danger-Color-5);
}
.ui-textarea-input.read-only textarea {
  color: var(--TextArea-ReadOnly-Color);
  background-color: var(--TextArea-ReadOnly-Background-Color);
}
.ui-textarea-input.is-disabled textarea {
  background-color: var(--TextArea-Disabled-Background-Color);
  color: var(--TextArea-Disabled-Font-Color);
}
.ui-textarea-input.is-disabled textarea::placeholder {
  color: var(--TextArea-Disabled-Placeholder-Color);
}
.ui-textarea-input:has(textarea:focus) {
  border: 0.0625rem solid var(--Primary-Color-5);
  box-shadow: 0 0 5px var(--TextArea-Shadow-Color);
}
.ui-textarea-input textarea {
  margin: 0;
  border: 0;
  height: 100%;
  color: var(--TextArea-Font-Color);
  background-color: var(--TextArea-Background-Color);
  resize: none;
}
.ui-textarea-input textarea::placeholder {
  color: var(--TextArea-Placeholder-Color);
}
.ui-textarea-input textarea:focus {
  outline: 0;
}
.ui-textarea-input textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  box-shadow: 0 0 0 1000px white inset;
}
.ui-textarea-input.small {
  border-radius: 4px;
}
.ui-textarea-input.small textarea {
  padding: 0.375rem 0.5rem;
  width: calc(100% - 2 * 0.5rem);
  border-radius: 4px;
  font: var(--Detail-Font-1);
}
.ui-textarea-input.medium {
  border-radius: 8px;
}
.ui-textarea-input.medium textarea {
  padding: 0.75rem 1rem;
  width: calc(100% - 2 * 1rem);
  border-radius: 8px;
  font: var(--Body-Font-1);
}

:root .theme-light {
  --Checkbox-Icon-Color: var(--Gray-Color-0);
  --Checkbox-Shadow-Color: var(--Primary-Color-1);
}
:root .theme-dark {
  --Checkbox-Icon-Color: var(--Gray-Color-100);
  --Checkbox-Shadow-Color: var(--Primary-Color-3);
}

.ui-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.ui-checkbox input {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}
.ui-checkbox input:disabled {
  cursor: default;
}
.ui-checkbox-icon {
  position: relative;
  display: inline-block;
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--Gray-Color-4);
}
.ui-checkbox-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ui-checkbox-icon path {
  fill: var(--Checkbox-Icon-Color);
}
.ui-checkbox-icon:has(~ input:disabled:checked) {
  background-color: var(--Primary-Color-3);
  border-color: var(--Primary-Color-3);
}
.ui-checkbox-icon:has(~ input:checked) {
  background-color: var(--Primary-Color-6);
  border-color: var(--Primary-Color-6);
}
.ui-checkbox-icon:has(~ input:disabled) {
  border-color: var(--Gray-Color-2);
}
.ui-checkbox-icon:has(~ input:focus) {
  border-color: var(--Primary-Color-6);
  box-shadow: 0 0 0.3125rem var(--Checkbox-Shadow-Color);
}
.ui-checkbox-icon.small {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.25rem;
}
.ui-checkbox-icon.medium {
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.5rem;
}
.ui-checkbox-icon.large {
  width: 1.375rem;
  height: 1.375rem;
  margin-right: 0.5rem;
}
.ui-checkbox-label.small {
  font: var(--Detail-Font-1);
}
.ui-checkbox-label.medium {
  font: var(--Body-Font-1);
}
.ui-checkbox-label.large {
  font: var(--Body-Font-1);
}
.ui-checkbox input:disabled ~ .ui-checkbox-label {
  color: var(--Gray-Color-6);
}

.ui-checkbox-group {
  margin: 0;
  padding: 0;
  border: none;
}
.ui-checkbox-group-label {
  padding: 0;
  margin-bottom: 0.25rem;
  font: var(--Micro-Font-1);
}
.ui-checkbox-group-options {
  display: flex;
}
.ui-checkbox-group-options.horizontal {
  gap: 1.5rem;
}
.ui-checkbox-group-options.vertical {
  flex-direction: column;
  gap: 1rem;
}

:root .theme-light {
  --Radio-Icon-Color: var(--Gray-Color-0);
  --Radio-Shadow-Color: var(--Primary-Color-1);
}
:root .theme-dark {
  --Radio-Icon-Color: var(--Gray-Color-100);
  --Radio-Shadow-Color: var(--Primary-Color-3);
}

.ui-radio {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.ui-radio input {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}
.ui-radio input:disabled {
  cursor: default;
}
.ui-radio input:disabled ~ .ui-radio-label {
  color: var(--Gray-Color-6);
}
.ui-radio-icon {
  position: relative;
  display: inline-block;
  border-radius: 6.25rem;
  border: 0.0625rem solid var(--Gray-Color-4);
}
.ui-radio-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ui-radio-icon path {
  fill: var(--Radio-Icon-Color);
}
.ui-radio-icon:has(~ input:disabled:checked) {
  background-color: var(--Primary-Color-3);
  border-color: var(--Primary-Color-3);
}
.ui-radio-icon:has(~ input:checked) {
  background-color: var(--Primary-Color-6);
  border-color: var(--Primary-Color-6);
}
.ui-radio-icon:has(~ input:disabled) {
  border-color: var(--Gray-Color-2);
}
.ui-radio-icon:has(~ input:focus) {
  border-color: var(--Primary-Color-6);
  box-shadow: 0 0 0.3125rem var(--Radio-Shadow-Color);
}
.ui-radio.small .ui-radio-icon {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.25rem;
}
.ui-radio.small .ui-radio-label {
  font: var(--Detail-Font-1);
}
.ui-radio.medium .ui-radio-icon {
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.5rem;
}
.ui-radio.medium .ui-radio-label {
  font: var(--Body-Font-1);
}
.ui-radio.large .ui-radio-icon {
  width: 1.375rem;
  height: 1.375rem;
  margin-right: 0.5rem;
}
.ui-radio.large .ui-radio-label {
  font: var(--Body-Font-1);
}

.ui-radio-group {
  margin: 0;
  padding: 0;
  border: none;
}
.ui-radio-group-label {
  padding: 0;
  margin-bottom: 0.25rem;
  font: var(--Micro-Font-1);
}
.ui-radio-group-options {
  display: flex;
}
.ui-radio-group-options.horizontal {
  gap: 1.5rem;
}
.ui-radio-group-options.vertical {
  flex-direction: column;
  gap: 1rem;
}

:root .theme-light {
  --Switch-Icon-Color: var(--Gray-Color-0);
  --Switch-Disabled-Icon-Color: var(--Gray-Color-1);
  --Switch-Shadow-Color: var(--Primary-Color-3);
}
:root .theme-dark {
  --Switch-Icon-Color: var(--Gray-Color-100);
  --Switch-Disabled-Icon-Color: var(--Gray-Color-3);
  --Switch-Shadow-Color: var(--Primary-Color-3);
}

.ui-switch {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.ui-switch * {
  cursor: pointer;
}
.ui-switch:has(.ui-switch-button:disabled), .ui-switch:has(.ui-switch-button:disabled) * {
  cursor: default;
}
.ui-switch.small {
  gap: 0.25rem;
}
.ui-switch.small .ui-switch-button {
  width: 2rem;
  height: 1rem;
}
.ui-switch.small .ui-switch-label {
  font: var(--Detail-Font-1);
}
.ui-switch.medium .ui-switch-button {
  width: 2.5rem;
  height: 1.25rem;
}
.ui-switch.medium .ui-switch-label {
  font: var(--Body-Font-1);
}
.ui-switch.large .ui-switch-button {
  width: 3rem;
  height: 1.5rem;
}
.ui-switch.large .ui-switch-label {
  font: var(--Body-Font-1);
}
.ui-switch-button {
  display: flex;
  align-items: center;
  padding: 0;
  border: 0;
  outline: 0;
  border-radius: 100px;
}
.ui-switch-button.switch-on {
  justify-content: flex-end;
  background-color: var(--Primary-Color-6);
}
.ui-switch-button.switch-off {
  justify-content: flex-start;
  background-color: var(--Gray-Color-4);
}
.ui-switch-button path {
  fill: var(--Switch-Icon-Color);
}
.ui-switch-button:focus {
  box-shadow: 0 0 0.3125rem var(--Switch-Shadow-Color);
}
.ui-switch-button:disabled.switch-on {
  background-color: var(--Primary-Color-3);
}
.ui-switch-button:disabled.switch-off {
  background-color: var(--Gray-Color-2);
}
.ui-switch-button:disabled path {
  fill: var(--Switch-Disabled-Icon-Color);
}
.ui-switch-button:disabled ~ .ui-switch-label {
  color: var(--Gray-Color-6);
  pointer-events: none;
}

:root .theme-light {
  --DatePicker-Calender-Selected: var(--Gray-Color-0);
  --DatePicker-Calender-DateOut: var(--Gray-Color-4);
}
:root .theme-dark {
  --DatePicker-Calender-Selected: var(--Gray-Color-100);
  --DatePicker-Calender-DateOut: var(--Gray-Color-3);
}

.ui-datepicker {
  position: relative;
}
.ui-datepicker .ui-textfield-input {
  position: relative;
}
.ui-datepicker button {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}
.ui-datepicker-calendar .rdtPrev,
.ui-datepicker-calendar .rdtNext,
.ui-datepicker-calendar .rdtSwitch,
.ui-datepicker-calendar .rdtMonth,
.ui-datepicker-calendar .rdtYear {
  cursor: pointer;
}
.ui-datepicker-calendar .rdtOld,
.ui-datepicker-calendar .rdtNew {
  color: var(--DatePicker-Calender-DateOut);
}
.ui-datepicker-calendar .rdtToday {
  border: 1px solid var(--Primary-Color-6);
}
.ui-datepicker-calendar .rdtActive {
  color: var(--DatePicker-Calender-Selected);
  background-color: var(--Primary-Color-6);
  border-color: var(--Primary-Color-6);
}
.ui-datepicker-calendar table {
  width: 100%;
  max-width: 22.5rem;
}
.ui-datepicker-calendar thead,
.ui-datepicker-calendar tbody {
  display: flex;
  flex-wrap: wrap;
}
.ui-datepicker-calendar tr {
  display: flex;
  width: 100%;
}
.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}
.ui-datepicker-calendar thead tr:nth-child(1) {
  height: 4rem;
}
.ui-datepicker-calendar thead tr:nth-child(2) {
  height: 2.5rem;
}
.ui-datepicker-calendar thead tr:nth-child(2) th {
  font: var(--Body-Font-1);
}
.ui-datepicker-calendar tbody .rdtDay {
  padding: 0;
  text-align: center;
  border-radius: 100px;
  border: 0.0625rem solid transparent;
  cursor: pointer;
}

:root .theme-light {
  --Modal-Background-Color: var(--Gray-Color-0);
}
:root .theme-dark {
  --Modal-Background-Color: var(--Gray-Color-100);
}

.ui-popover:has(.ui-modal) {
  width: calc(100% - 1rem);
  max-width: 35rem;
}

.ui-modal {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}
.ui-modal-header {
  display: flex;
  justify-content: space-between;
}
.ui-modal-header button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
.ui-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
.ui-modal-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.ui-modal-title h2 {
  font: var(--Heading-Font-3);
  margin: 0;
}
.ui-modal-title .warning path {
  fill: var(--Warning-Color-6);
}
.ui-modal-title .error path {
  fill: var(--Danger-Color-6);
}
.ui-modal-title .success path {
  fill: var(--Success-Color-6);
}
.ui-modal-title .information path {
  fill: var(--Information-Color-6);
}

.ui-popover:has(.ui-toast) {
  width: calc(100% - 1rem);
  max-width: 25rem;
}

.ui-toast {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 0;
  padding: 1rem 1.25rem;
}
.ui-toast > svg {
  margin-right: 0.5rem;
  flex-shrink: 0;
}
.ui-toast > svg.warning path {
  fill: var(--Warning-Color-6);
}
.ui-toast > svg.error path {
  fill: var(--Danger-Color-6);
}
.ui-toast > svg.success path {
  fill: var(--Success-Color-6);
}
.ui-toast > svg.information path {
  fill: var(--Information-Color-6);
}
.ui-toast-content {
  width: 100%;
  font: var(--Detail-Font-1);
  color: var(--Gray-Color-10);
}
.ui-toast .ui-button {
  margin-left: 0.5rem;
}

:root .theme-light {
  --Selected-Button-Background: var(--Gray-Color-0);
  --Selected-Button-Color: var(--Gray-Color-10);
  --Button-Shadow-Color: var(--Primary-Color-3);
}
:root .theme-dark {
  --Selected-Button-Background: var(--Gray-Color-100);
  --Selected-Button-Color: var(--Gray-Color-1);
  --Button-Shadow-Color: var(--Primary-Color-6);
}

.ui-segmented-control {
  gap: 0.25rem;
  background-color: var(--Gray-Color-2);
  padding: 0.25rem;
  border-radius: 0.5rem;
}
.ui-segmented-control.hug {
  display: inline-flex;
}
.ui-segmented-control.hug .ui-segmented-control-button {
  width: auto;
}
.ui-segmented-control.fill {
  display: flex;
}
.ui-segmented-control.fill .ui-segmented-control-button {
  width: 100%;
}
.ui-segmented-control-button {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  outline: 0;
  border: 0;
  font: var(--Body-Font-1);
  color: var(--Gray-Color-10);
  background-color: transparent;
  cursor: pointer;
}
.ui-segmented-control-button path {
  fill: var(--Gray-Color-10);
}
.ui-segmented-control-button.isSelected {
  background-color: var(--Selected-Button-Background);
  color: var(--Selected-Button-Color);
}
.ui-segmented-control-button.isSelected path {
  fill: var(--Selected-Button-Color);
}
.ui-segmented-control-button:disabled {
  color: var(--Gray-Color-4);
  cursor: default;
}
.ui-segmented-control-button:disabled path {
  fill: var(--Gray-Color-4);
}
.ui-segmented-control-button:focus {
  box-shadow: 0 0 0.3125rem var(--Button-Shadow-Color);
}
.ui-segmented-control.small {
  border-radius: 0.25rem;
}
.ui-segmented-control.small .ui-segmented-control-button {
  height: 1.5rem;
  border-radius: 0.1875rem;
  font: var(--Detail-Font-1);
}
.ui-segmented-control.medium .ui-segmented-control-button {
  height: 2rem;
}
.ui-segmented-control.large .ui-segmented-control-button {
  height: 2.5rem;
}

.ui-spinner {
  position: relative;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--Gray-Color-2);
  background-color: transparent;
  animation: spinner 1500ms linear infinite;
}
.ui-spinner::before, .ui-spinner::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--Primary-Color-6);
}
.ui-spinner::before {
  top: 50%;
  transform: translateY(-50%);
}
.ui-spinner::after {
  left: 50%;
  transform: translateX(-50%);
}
.ui-spinner.small {
  width: 1.25rem;
  height: 1.25rem;
  border-width: 0.125rem;
}
.ui-spinner.small::before, .ui-spinner.small::after {
  width: 0.125rem;
  height: 0.125rem;
}
.ui-spinner.small:before {
  right: -0.125rem;
}
.ui-spinner.small::after {
  top: -0.125rem;
}
.ui-spinner.medium {
  width: 2rem;
  height: 2rem;
  border-width: 0.1875rem;
}
.ui-spinner.medium::before, .ui-spinner.medium::after {
  width: 0.1875rem;
  height: 0.1875rem;
}
.ui-spinner.medium:before {
  right: -0.1875rem;
}
.ui-spinner.medium::after {
  top: -0.1875rem;
}
.ui-spinner.large {
  width: 3rem;
  height: 3rem;
  border-width: 0.25rem;
}
.ui-spinner.large::before, .ui-spinner.large::after {
  width: 0.25rem;
  height: 0.25rem;
}
.ui-spinner.large:before {
  right: -0.25rem;
}
.ui-spinner.large::after {
  top: -0.25rem;
}
.ui-spinner-ling {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 100%;
  border-style: solid;
  border-color: transparent;
  border-top-color: var(--Primary-Color-6);
  background-color: transparent;
}
.ui-spinner-ling.small {
  border-width: 0.125rem;
  width: calc(100% + 2 * 0.125rem);
  height: calc(100% + 2 * 0.125rem);
}
.ui-spinner-ling.medium {
  border-width: 0.1875rem;
  width: calc(100% + 2 * 0.1875rem);
  height: calc(100% + 2 * 0.1875rem);
}
.ui-spinner-ling.large {
  border-width: 0.25rem;
  width: calc(100% + 2 * 0.25rem);
  height: calc(100% + 2 * 0.25rem);
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:root .theme-light {
  --DataTable-Header-Background: var(--Gray-Color-1);
  --DataTable-Sorted-Color: var(--Primary-Color-6);
}
:root .theme-dark {
  --DataTable-Header-Background: var(--Gray-Color-2);
  --DataTable-Sorted-Color: var(--Primary-Color-7);
}

.ui-datatable {
  border-collapse: collapse;
}
.ui-datatable .ui-header {
  height: 2.5rem;
  background-color: var(--DataTable-Header-Background);
  border-bottom: 0.0625rem solid var(--Gray-Color-4);
}
.ui-datatable .ui-column.sortable {
  cursor: pointer;
}
.ui-datatable .ui-column:hover {
  background-color: var(--Gray-Color-2);
}
.ui-datatable .ui-column:focus {
  background-color: var(--Primary-Color-1);
  outline: 0;
}
.ui-datatable .ui-column-value {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font: var(--Body-Font-2);
  color: var(--Gray-Color-10);
}
.ui-datatable .ui-column-value path {
  fill: var(--Gray-Color-10);
}
.ui-datatable .ui-column-value.sorted {
  color: var(--DataTable-Sorted-Color);
}
.ui-datatable .ui-column-value.sorted path {
  fill: var(--DataTable-Sorted-Color);
}
.ui-datatable .ui-row {
  height: 2.5rem;
  border-bottom: 0.0625rem solid var(--Gray-Color-2);
}
.ui-datatable .ui-content {
  padding: 0;
}
.ui-datatable .ui-content-value {
  display: flex;
  margin: 0 0.75rem;
  font: var(--Body-Font-1);
  align-items: center;
}
.ui-datatable .ui-content-value.center {
  justify-content: center;
}

* {
  box-sizing: border-box;
}

/*# sourceMappingURL=index.css.map */
