.storybook {
  &-example {
    padding: 16px;
    background-color: var(--Gray-Color-2);
    border-radius: 8px;
  }

  pre {
    background-color: var(--Gray-Color-2);
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
  }

  span {
    padding: 2px 4px;
    background-color: var(--Gray-Color-2);
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  tr {
    border-bottom: 1px solid var(--Gray-Color-4);
    &:last-child {
      border: 0;
    }
  }
  th {
    font: var(--Detail-Font-2);
    padding: 8px;
    color: var(--Gray-Color-7);
    text-align: left;
    &:is(:first-child, :last-child) {
      width: 25%;
    }
  }
  td:first-child {
    padding: 8px 0 8px 16px;
  }
  td:last-child {
    padding: 8px 16px 8px 0;
  }
  tbody {
    border: 1px solid var(--Gray-Color-4);
    border-radius: 8px;
    vertical-align: top;
  }
}
