//light
:root {
  --primary-color: 222, 100%;

  .theme-light {
    @each $name, $color in $light-colors {
      --#{$name}: #{($color)};
    }

    --Primary-Color-1: hsl(var(--primary-color), 95%);
    --Primary-Color-2: hsl(var(--primary-color), 90%);
    --Primary-Color-3: hsl(var(--primary-color), 80%);
    --Primary-Color-4: hsl(var(--primary-color), 70%);
    --Primary-Color-5: hsl(var(--primary-color), 60%);
    --Primary-Color-6: hsl(var(--primary-color), 50%);
    --Primary-Color-7: hsl(var(--primary-color), 40%);
    --Primary-Color-8: hsl(var(--primary-color), 30%);
    --Primary-Color-9: hsl(var(--primary-color), 20%);
    --Primary-Color-10: hsl(var(--primary-color), 10%);

    background-color: var(--Gray-Color-0);
  }

  .theme-dark {
    @each $name, $color in $dark-colors {
      --#{$name}: #{($color)};
    }

    --Primary-Color-1: hsl(var(--primary-color), 10%);
    --Primary-Color-2: hsl(var(--primary-color), 20%);
    --Primary-Color-3: hsl(var(--primary-color), 30%);
    --Primary-Color-4: hsl(var(--primary-color), 40%);
    --Primary-Color-5: hsl(var(--primary-color), 50%);
    --Primary-Color-6: hsl(var(--primary-color), 60%);
    --Primary-Color-7: hsl(var(--primary-color), 70%);
    --Primary-Color-8: hsl(var(--primary-color), 80%);
    --Primary-Color-9: hsl(var(--primary-color), 90%);
    --Primary-Color-10: hsl(var(--primary-color), 95%);

    background-color: var(--Gray-Color-1);
  }
}

body {
  color: var(--Gray-Color-8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--Gray-Color-10);
}
